.LetterGrid {
  grid-gap: 0;
  border: 2px solid #000;
}

.LetterGrid-cell {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0;
}

.LetterGrid-cell.black {
  background-color: black;
}

.LetterGrid-cell.white {
  background-color: white;
}